:root {
    --ff-primary:  "Noto Serif", serif;
    --ff-secondary: "Bitcount Grid Single Ink", system-ui;
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #000000;
    --clr-dark: #A60F0F;
    --clr-accent: #00d9ff;

    --fs-h1: 3rem; 
    --fs-h2: 2,25rem; 
    --fs-h3: 1,25rem; 
    --fs-body: 1rem; 
}

@media screen and (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img{
    max-width: 100%;
    display:block
}

h1 {
    font-size: var(--fs-h1);
}
h2{
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);
}

h1,h2,h3{
 line-height: 1,1;
 margin: 0;
}

strong{
    font-weight: var(--fw-bold);
}
.section{
    padding: 5em 2em;
}

.section-title{
    margin-bottom: 0,25;
}

.section-title-intro{
    display: block;
}

.section-subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section-subtitle-intro,
.section-subtitle-about{
    background-color: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}